


















<!DOCTYPE html>
<html>


    <%- include("link") %>

<body>
	<div class="container-fluid">
    	<div class="row"> 








          <%- include("sidebar") %>










            <div class="col-10 dashboard_right">
            	<div class="add_Member"><h2>Customer Listing</h2></div>
                <div class="dashboard_padding">
            	<div class="users">
                	<div class="filter_box">
                    <div class="row">
                            
                        
                        
                        <form method="POST" action="/customer_filter">
                                <div class="col-9"><input type=text name=filter class="form-control" placeholder="Search Your Keyword Here"></div>
                                <button class="btn btn-secondary">search</button>
                                <br>
                                <br>
                              </form>
                              
                     
                     
                              <div class="col-2"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <a href="/logout">LOG OUT</a>
                      </button></div>                 
					 
                    
                     </div>
                     </div>
                </div>
              
                
                <form action="/customer_table" method="POST">
            		<table class="table table-bordered">
                      <thead>
                         <tr>
                            <th scope="col">customer name</th>
                            <th scope="col">Email ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">added on</th>
                            <th scope="col">Edit</th>
                            <th scope="col">delete</th>
                          </tr>
  </thead>
                      <tbody>
                          <% for(let data of filter_data){%>
                            <tr>
                                <td><%=data.customer_name%></td>
                                <td><%=data.email%></td>
                                <td><%=data.status%></td>
                                <td><%=data.added_on%></td>
                                    <td><button class="edit" name="edit" value=<%=data._id%>>edit</button></br></td>
                            </form>
                            <form method="POST" action="/delete_customer_data">
                              <td><button class="delete" name="delete_customer" value=<%=data._id%>>delete</button></td>
                            </form>
                          </tr>
                          <%}%>
                      
                      </tbody>
                    </table>
                  </form>
            	</div>
            </div>
         </div> 
    </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
















                            
                          </div>
                        </div>
</body>
</html>
